<app-instructor-header></app-instructor-header>
<div class="container mt-5">
    <h6 class="text-secondary">Manage Courses > Course > Add Module</h6>
    <h1>Add Modules</h1>
    <div class="mt-5">
        <form [formGroup]="addModuleForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <label for="titleLabel" class="form-label">Give a module title</label>
                    <input [ngClass]="{
                        'is-invalid':
                          submitted && addModuleForm.controls['title'].errors
                      }" formControlName="title" type="text" class="form-control" id="titleInput">
                    <p class="text-danger" *ngIf="submitted && addModuleForm.controls['title'].errors?.['required']">
                        Fill this field.
                    </p>
                    <p class="text-danger" *ngIf="submitted && addModuleForm.controls['title'].errors?.['minlength']">
                        Minimum 8 characters required.
                    </p>
                </div>
                <div class="col-lg-6 col-12">
                    <label for="titleLabel" class="form-label">Select Note Document</label>
                    <input [ngClass]="{
                        'is-invalid':
                          submitted && addModuleForm.controls['note'].errors
                      }" type="file" (change)="noteSelection($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                      text/plain, application/pdf, image/*" class="form-control" id="thmbnailImageInput"
                        formControlName="note">
                    <p class="text-danger" *ngIf="submitted && addModuleForm.controls['note'].errors?.['required']">
                        Fill this field.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <label for="descriptionLabel" class="form-label">Description</label>
                    <textarea [ngClass]="{
                        'is-invalid':
                          submitted && addModuleForm.controls['description'].errors
                      }" formControlName="description" class="form-control" id="descriptionTextArea"
                        rows="10"></textarea>
                    <p class="text-danger"
                        *ngIf="submitted && addModuleForm.controls['description'].errors?.['required']">
                        Fill this field.
                    </p>
                    <p class="text-danger"
                        *ngIf="submitted && addModuleForm.controls['description'].errors?.['minlength']">
                        Minimum 15 characters required.
                    </p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="col-12">
                        <label for="titleLabel" class="form-label">Module Video</label>
                        <input [ngClass]="{
                            'is-invalid':
                              submitted && addModuleForm.controls['moduleVideo'].errors
                          }" (change)="moduleVideoSelection($event)" type="file"
                            accept="video/mp4, video/mov, video/mkv, video/aoi" class="form-control"
                            id="moduleVideoInput" formControlName="moduleVideo">
                        <p class="text-danger"
                            *ngIf="submitted && addModuleForm.controls['moduleVideo'].errors?.['required']">
                            Fill this field.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-check mt-2">
                <input class="form-check-input" (click)="check()" [disabled]="!addModuleForm.valid" type="checkbox"
                    value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Double checked all fields
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-4" [disabled]="!this.checked">Add Module</button>
        </form>
    </div>
    <div *ngIf="progress > 0">
        <p>Module adding.... Please wait</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [style.width.%]="progress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>{{progress}}% completed</p>
    </div>
</div>